
html,
body {
    @include medium {
        font-size: 0.8333334vw;
    }
}
body {
    font-family: $fontRoboto;
    padding: 0 toRems(160px);
}
h2,
h3 {
    font-size: toRems(16px);
    font-weight: $semiBold;
    padding: 0 0 .25rem;
}
p {
    font-size: 0.5rem;
}
header {
    text-align: center;
    margin: toRems(32px) auto;
    padding-left: 8rem;
}
aside {
    position: relative;
}
span {
    display: inline-block;
}
.content {
    padding: toRems(32px) toRems(16px);
}
.green {
    color: $green;
}
.blue {
    color: $skyBlue;
}

.logo {
    margin: 0 auto;
}
.fontXLarge {
    font-size: toRems(40px);
    font-weight: $semiBold;
}
