body {
    font-family: $fontMontserrat;
    padding: 0 10rem;
}
h2,
h3 {
    font-size: 1rem;
    font-weight: $semiBold;
    padding: 0 0 .25rem;
}
p {
    font-size: 0.5rem;
}
header {
    text-align: center;
    margin: 2rem auto;
    padding-left: 8rem;
}
aside {
    position: relative;
}
.green {
    color: $green;
}
.blue {
    color: $skyBlue;
}

.logo {
    margin: 0 auto;
}
