.fa{
    &-magnifying-glass {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        background-color: $steelBlue;
        fill: $white;
        path {
            fill: $white; 
        }
    }
}
[class*="fa"] {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.fa-chevron-left {
    margin-bottom: 0;
    font-size: 1rem;
}

.bg-blue {
    color: $white;
    path {
        fill: $white;
    }
    a {
        color: $white;
    }
}

.btn-icon {
    display: inline-flex;
    padding: 0;
    min-width: auto;
    .bg-blue & {
        color: $white;
    }
}
.btn-chevron {
    transition: box-shadow cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
    &:hover {
        box-shadow: 0 0 0 0.25rem $steelBlue;
    }
}