$sidebarWidth: 8rem;
$sliderNavigationWidth: 14rem;
$widthDifference: 14rem - 8rem;

aside {
    background-color: $steelBlue;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebarWidth;

}
.sidebar {
    background-color: $steelBlue;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //gap: 2rem;
        margin: 0;
    }
    &-links__top {
        margin-top: toRems(100px);
    }
    &-links__bottom {
        margin-bottom: toRems(100px);
        border-top: toRems(2px) solid $white;
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: toRems(90px);

        // gap: toRems(73px);
        &:has(.active) {
            position: relative;
            //border-left: 0.25rem solid $skyBlue;

            width: 100%;

            &::before {
                position: absolute;
                left: 0;
                content: '';
                width: 0.5rem;
                min-height: 100%;
                background-color: $skyBlue;
            }
    
        }

    }
}

.slider-navigation {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 14rem;
    background-color: $skyBlue;
    color: $white;
    box-sizing: border-box;
    padding: 4rem 2rem;
    transform: translate3d(-100%, 0, 0);
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    &.slideRight {
        transform: translate3d(calc(100% - $widthDifference), 0, 0);
    }
    &.slideLeft {
        transform: translate3d(-100%, 0, 0);
    }
    &__links {
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        color: $white;
    }
    .fontXLarge {
        letter-spacing: -0.08rem;
        margin-bottom: 2rem;
    }
    a {
        text-decoration: none;
        font-weight: $semiBold;
        &:hover {
            text-decoration: underline;
            text-underline-position: under;
        }
    }
}
.btn-chevron {
    position: absolute;
    top:  2rem;
    right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    font-size: 1.5rem;
    background-color: $steelBlue;

}
.navigation-links {
    a {
        display: flex;
        font-size: toRems(14px);
        line-height: toRems(14px);
        font-weight: $medium;
        letter-spacing: toRems(-0.14px);
        text-decoration: none;
        height: 100%;
        &.active {
            font-weight: $bold;
        }
    }
    .active {
        button {
            font-weight: $bold;
        }   
    }
}