//colors
$skyBlue: lightskyblue;
$steelBlue: #4682B4;
$green: hsla(160, 100%, 37%, 1);
$white: #ffffff;
//font-family
$fontMontserrat: 'Montserrat', sans-serif;

//font-weight
$regular: 400;
$semiBold: 600;
