//colors
$skyBlue: #00C4FF;
$steelBlue: #033962;
$green: hsla(160, 100%, 37%, 1);
$white: #FDFDFD;
$red: #EB4C4C;
$orange: #FC9E08;   
//font-family
$fontMontserrat: 'Montserrat', Arial, Verdana, sans-serif;
$fontRoboto: 'Roboto', Arial, Verdana, sans-serif;

//font-weight
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;
